
@{
    ViewBag.Title = "首頁";
}

<section class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img class="imguse" src="https://images.unsplash.com/photo-1620360289812-0abdae69d6d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
        </div>
        <div class="col-md-5 d-flex align-items-center flex-row-reverse">
            <div>
                <h2>嚴格把關食品安全與品質</h2>
                <p>使用rio新式濾水器，無維和的沖泡出最好的咖啡</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-md-5 d-flex align-items-center">
            <div>
                <h2>嚴選產地直送高品質咖啡豆</h2>
                <p>每日定期檢查品質，讓你喝到最棒的咖啡</p>
            </div>
        </div>
        <div class="col-md-5">
            <img class="imguse" src="https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
        </div>
    </div>



</section>



