@{
    ViewBag.Title = "管理者頁面";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<div class="container mt-5 ">
    <main class="px-3">
        <h1>歡迎來到管理者頁面</h1>
        <p class="lead">從新進訂單開始接收客戶訂單</p>
        <p class="lead">產品需要調整請到管理產品</p>
    </main>
</div>

